* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.section--1 {
  transition: all 0.5s ease;
}
.transform {
  transform: translateX(-25%);
}
.transformBottom {
  opacity: 0;
  transform: translateY(20%);
}
/*NAVIGATION--------------------------------------------------------*/
nav {
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  position: relative;
  background-color: #203b46;
  /* background-color: white; */
  color: rgba(255, 255, 255, 0.856);
  /* border-bottom: 2px solid black; */
}
.nav__items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.5rem;
  font-weight: 500;
}
.nav__item {
  color: #d9cab3;
  transition: all 0.3s ease;
}
.nav__item:hover {
  cursor: pointer;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: auto;
  filter: invert(100%);
  transition: all 0.3s ease;
}
.icon__cart {
  transition: all 0.3s ease;
  height: 2rem;
  width: 2rem;
  fill: white;
  fill: #d9cab3;
}
.icon__cart {
  cursor: pointer;
}
/* CARTITEMS------------------------------------------------------- */
.cart--items {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25%;
  background-color: #d9cab3;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: white;
  overflow-y: scroll;
}
.cart--items::-webkit-scrollbar {
  display: none;
}
.cart--item {
  background-color: white;
  background-color: #f0eae1;
  color: black;
  color: #2b2824;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  border-bottom: 1px solid black;
  /* align-items: center; */
  /* height: 5rem; */
}
.card--item-about {
  display: flex;
  flex-direction: column;
}
p {
  font-weight: 700;
}
.sizeandquantity {
  padding: 1rem 0;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.size {
  background-color: rgb(216, 216, 216);
  padding: 0.2rem 0.4rem;
}
.size:hover {
  cursor: pointer;
}
h2 {
  font-weight: 600;
  font-size: 1.25rem;
}
.quantity {
  display: flex;
  gap: 1rem;
}
.amount {
  font-size: 1rem;
}
.price {
  font-size: 1.2rem;
  font-weight: 600;
}
.quantity--button {
  padding: 0.2rem 0.7rem;
  border-radius: 50%;
  border: none;
  background-color: rgb(216, 216, 216);
  font-weight: 700;
  font-size: 1rem;
}
.quantity--button:hover {
  cursor: pointer;
}
.checkout__button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  letter-spacing: 2px;
  width: 50%;
  padding: 0.8rem 2rem;
  background: #203b46;
  color: #dee2e6;
  border: none;
  font-weight: 500;
}
.checkout__button:hover {
  cursor: pointer;
}
.hoodie--image {
  width: 3.5rem;
  border-radius: 0.2rem;
}
/*Header------------------------------------------------------------*/
.main--section {
  overflow-y: scroll;
  height: 91vh;
  background-color: #d9cab3;
}
.main--section::-webkit-scrollbar {
  display: none;
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 91vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0)
    ),
    url(img/headerImage.jpg);
  background-size: cover;
}
.left {
  padding: 3rem;
  align-self: center;
  /* justify-self: center; */
}
header h1 {
  color: #dee2e6;
  color: #d9cab3;
  font-size: 5rem;
  line-height: 1;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}
.buy__button {
  background: none;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid #d9cab3;
  font-size: 1.5rem;
  padding: 0.8rem 0.8rem;
  color: white;
  color: #d9cab3;
  transform: translateX(4%);
  transition: all 0.3s ease;
}
.buy__button:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* SECTION WHY US -------------------------------------------*/
.heading--section {
  text-align: center;
  font-size: 1.5rem;
  /* margin-bottom: -0.4rem; */
  margin-bottom: 0.5rem;
  padding-top: 2rem;
  color: #203b46;
}
.heading--section--span {
  border-bottom: 3px solid black;
}
.explain--section {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.section {
  transition: all 0.5s ease;
}
.whyUs {
  padding: 4rem;
  background-color: #203b46;
  background-color: #d9cab3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 4rem;
  transition: all 0.5s ease;
}
.whyUs--content {
  padding: 4rem;
  justify-self: center;
  align-self: center;
}
.whyUs--h1 {
  color: #203b46;
  margin-bottom: -0.5rem;
}
.whyUs--h2 {
  color: #d9cab3;
  color: #203b46;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  transform: translateX(-0.5%);
  line-height: 1.2;
}
.whyUs--h3 {
  font-size: 1.2rem;
  color: #f0eae1;
  color: black;
  letter-spacing: 0.2px;
}
.whyUs--image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 3rem;
  width: 3rem;
  margin-bottom: 1rem;
  /* filter: invert(100); */
}
.img--hoodie {
  width: 70%;
  border-radius: 1rem;
}

/* TRENDING------------------------------------- */
.heading--section--span--trending {
  color: #d9cab3;
  border-bottom: 3px solid white;
}
.explain--section--trending {
  font-size: 3rem;
  text-align: center;
  color: white;
  margin-bottom: 3rem;
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.trending--box {
  background-color: #203b46;
  /* background-color: white; */
  padding-bottom: 5rem;
}
/* .heading--trending {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
} */
.trending {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
}
.hoodie--img {
  width: 100%;
  margin-bottom: 1.2rem;
}
.hoodie--box {
  overflow: hidden;
  justify-self: center;
  width: 70%;
  background-color: white;
  /* padding: 0 1rem; */
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  /* border-radius: 1rem; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(66, 66, 66);
  letter-spacing: 2px;
  border: 4px solid #d9cab3;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem; */
}
.hoodie--details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}
.hoodie--sizes {
  display: flex;
  gap: 1rem;
}
.hoodie--name {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.hoodie--size,
.hoodie--price,
.hoodie--quality {
  font-size: 1.2rem;
  font-weight: 500;
}
.hoodie--price {
  font-size: 1.5rem;
}
.hoodie--priceCut {
  font-size: 1rem;
}
.btn--addToCart {
  padding: 1rem 1rem;
  width: 100%;
  font-size: 1.2rem;
  background: none;
  border: none;
  /* background-color: #203b46; */
  background-color: #d9cab3;
  /* color: white; */
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn--addToCart:hover {
  background-color: #aea28f;
}
/* TESTIMONIAL------------------------- */
.section--testimonial {
  height: 90vh;
}
.testimonial--container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slides {
  position: relative;
  overflow: hidden;
  height: 350px;
}
.slide {
  position: absolute;
  top: 0;
  transition: all 1s ease;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.testimonial--box {
  position: relative;
  width: 50%;
}
ion-icon {
  width: 1.8rem;
  height: 1.8rem;
}
.btn--left {
  position: absolute;
  left: -10%;
  top: 30%;
  background: none;
  border: none;
  cursor: pointer;
  /* transform: translateX(-50%); */
}
.btn--right {
  position: absolute;
  right: -10%;
  top: 30%;
  background: none;
  border: none;
  cursor: pointer;

  /* transform: translateX(-50%); */
}
.slide--1 {
  transform: translateX(100%);
}
.slide--2 {
  transform: translateX(200%);
}
.slide--3 {
  transform: translateX(300%);
}
.testimonial--person {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.testimonial--heading {
  font-size: 2rem;
  color: #203b46;
  font-weight: 600;
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}
.testimonial--para {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  letter-spacing: 0.8px;
}
.testimonial--image {
  width: 5.5rem;
  border-radius: 50%;
}
/* Dots */
.dots {
  /* position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex; */
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #203b46;
  opacity: 1;
}

/* FOOTER */
footer {
  height: 40vh;
  background-color: #203b46;
  /* background-color: #37383d; */
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-bar {
  display: flex;
  justify-content: center;
  color: #d9cab3;
  /* color: #eee; */
  list-style: none;
  gap: 2rem;
  padding-top: 2.5rem;
  font-size: 1rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
}
.footer-bar li {
  cursor: pointer;
}
.logo-bottom {
  filter: invert(100%);
  width: 12rem;
  margin-bottom: 2.5rem;
}
.copyright {
  color: #d9cab3;
  /* color: #eee; */
  bottom: 1rem;
}
